h1 {
     font: 45px Verdana, Geneva, sans-serif;
   }

p {
     font: 20px Verdana, Geneva, sans-serif;
  }

#states {
           float: left;
           margin-right: 200 px;
           margin-bottom:6 px;
        }

#uri {
        margin-right: 200 px;
        margin-bottom:6 px;
     }

#profile-pic {

             }
