h1 {
     font: 45px Verdana, Geneva, sans-serif;
   }

p {
     font: 20px Verdana, Geneva, sans-serif;
  }

#profile-pic {
           float: left;
           margin-right: 200px;
           margin-bottom:6px;
        }

#uri {
        margin-left: 20px;   
        margin-right: 200px;
        margin-bottom:6px;
     }

#states {
           float: right;
        }

#about {
         width: 50%;
}
