h1 {
     font: 45px Georgia, serif;
   }

p {
     font: 20px Georgia, serif;
  }

#profile-pic {
           float: left;
           margin-right: 20px;
           margin-bottom:6px;
        }

#uri {
        margin-left: 20px;   
        margin-right: 20px;
        margin-bottom: 6px;
     }

#states {
           float: right;
           margin-left: 20px;
           margin-right: 20px;
           margin-bottom: 6px;
        }

#about {
         width: 50%;
       }

#index {
         width: 50%;
       }

#javascript {
              width: 50%;
            }

#apps {
        width: 50%;
      }
