h1 {
     font: 45px Georgia, serif;
   }

p {
     font: 20px Georgia, serif;
  }

#profile-pic {
           float: left;
           margin-right: 20px;
           margin-bottom:6px;
        }

#uri {
        margin-left: 20px;   
        margin-right: 20px;
        margin-bottom: 6px;
     }

#states {
           float: right;
           margin-left: 20px;
           margin-right: 20px;
           margin-bottom: 6px;
        }

#about {
         width: 70%;
       }

#index {
         width: 70%;
       }

#javascript {
              width: 70%;
            }

#apps {
        width: 70%;
      }

#dancing {
           float: left;
           margin-right: 20px;
           margin-bottom:6px;
        }

#resize {
        margin-left: 20px;   
        margin-right: 20px;
        margin-bottom: 6px;
     }

#racing {
           float: right;
           margin-left: 20px;
           margin-right: 20px;
           margin-bottom: 6px;
        }
#decision {
           float: left;
           margin-right: 20px;
           margin-bottom:6px;
        }

#follow {
        margin-left: 20px;   
        margin-right: 20px;
        margin-bottom: 6px;
     }

#multiplication {
           float: right;
           margin-left: 20px;
           margin-right: 20px;
           margin-bottom: 6px;
        }

#bitmojiline {
           float: left;
           margin-right: 20px;
           margin-bottom:6px;
        }

#drybitmoji {
        margin-left: 20px;   
        margin-right: 20px;
        margin-bottom: 6px;
     }

#object {
           float: right;
           margin-left: 20px;
           margin-right: 20px;
           margin-bottom: 6px;
        }
